<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>MyBank | Login</title>
	<link rel="stylesheet" href="css/myam.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
	<div class="svg-master"></div>
	<div class="vme-modal">
	    <div class="vme-modal__message">
	    	<a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
	        <div class="vme-modal__message__content">Processing your request</div>
	    </div>
	</div>
	<header class="vme-header">
		<div class="vme-header__left vme-header__left--my-bank">
			<img src="images/my-bank-logo.png" alt="My Bank">
		</div>
	</header>
	<div class="vme-content vme-content--wide">
		<form th:action="@{/oidc/redirect}" class="vme-form vme-text-center" method="post">
			<p>The following information is linked to your profile.</p>
			<div class="vme-content-panel">
				<h2>Base Profile</h2>
				<div class="vme-content-panel__inner">
					<table>
                        <tr>
                            <th class="vme-content-panel__title">Account id:</th>
                            <td class="vme-content-panel__value" th:text="${accountId}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Bank name:</th>
                            <td class="vme-content-panel__value" th:text="${bankName}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Date of Birth:</th>
                            <td class="vme-content-panel__value" th:text="${birthdate}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Country:</th>
                            <td class="vme-content-panel__value" th:text="${country}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Email:</th>
                            <td class="vme-content-panel__value" th:text="${email}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Family name:</th>
                            <td class="vme-content-panel__value" th:text="${familyName}"></td>
                        </tr>
						<tr>
							<th class="vme-content-panel__title">Given name:</th>
							<td class="vme-content-panel__value" th:text="${givenName}"></td>
						</tr>
                        <tr>
                            <th class="vme-content-panel__title">Locality:</th>
                            <td class="vme-content-panel__value" th:text="${locality}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Middle name:</th>
                            <td class="vme-content-panel__value" th:text="${middleName}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Phone number:</th>
                            <td class="vme-content-panel__value" th:text="${phoneNumber}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Postal code:</th>
                            <td class="vme-content-panel__value" th:text="${postalCode}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Region:</th>
                            <td class="vme-content-panel__value" th:text="${region}"></td>
                        </tr>
                        <tr>
                            <th class="vme-content-panel__title">Street address:</th>
                            <td class="vme-content-panel__value" th:text="${streetAddress}"></td>
                        </tr>
					</table>
				</div>
			</div>
		    <div class="vme-form__footer">
		    	<div class="vme-form__footer__left"><button class="vme-button clickable vme-button--blue-light" name="cancel">Cancel</button></div>
		        <div class="vme-form__footer__right"><button class="vme-button clickable vme-button--orange">OK</button></div>
		    </div>
		</form>
	</div>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script>
	    $(document).ready(function(){
	        $( ".svg-master" ).load( "svg/svg-master.tpl.html");

	        $('a, button').not('.clickable').click(function(event) {
	            event.preventDefault();
	        });
	    });
	</script>
</body>
</html>