<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>MyBank | Login</title>
   <link rel="stylesheet" href="css/myam.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="vme-theme--my-bank">
   <div class="svg-master"></div>
   <div class="vme-modal">
       <div class="vme-modal__message">
         <a href="webflow04-fingerprint-reg02.html" class="vme-modal__message__nav clickable"></a>
           <div class="vme-modal__message__content">Processing your request</div>
       </div>
   </div>
   <header class="vme-header">
      <div class="vme-header__left vme-header__left--my-bank">
         <img src="images/my-bank-logo.png" alt="My Bank">
      </div>
   </header>
   <div class="vme-content vme-content--wide">
      <form th:action="@{/oidc/consent}" class="vme-form vme-text-center" method="post">
         <p th:text="'To complete this authentication, please enter the four digit code sent to you mobile phone ' + ${userPhoneNumber}" ></p>
         <div class="vme-content-panel">
            <div class="vme-form__group vme-form__group--dirty" data-error="Please enter your verification code">
               <input id="code" name="code" class="vme-form__group__control" type="text">
               <label class="vme-form__group__label" for="code">Verification Code</label>
            </div>
         </div>   
         <div class="vme-form__footer">
            <div class="vme-form__footer__left"><button class="vme-button clickable vme-button--blue-light" name="cancel">Cancel</button></div>
            <div class="vme-form__footer__right"><button class="vme-button clickable vme-button--orange">OK</button></div>
         </div>
      </form>
   </div>
   <script src="js/jquery-3.2.1.min.js"></script>
   <script>
       $(document).ready(function(){
           $( ".svg-master" ).load( "svg/svg-master.tpl.html");

           $('a, button').not('.clickable').click(function(event) {
               event.preventDefault();
           });
       });
   </script>
</body>
</html>